body {
	font-family: "microsoft yahei", monospace;
	font-size: 17px;
}

button {
	margin-left: 15px;
	background-color: #007fff;
	color: #ffffff;
	padding: 7px 15px;
	font-family: "microsoft yahei";
	border-radius: 5px;
	border: none;
	width: 15%;
	cursor: pointer;
}

button:hover {
	background-color: #A52A2A;
	background-color: #ffffff;
	color: #007fff;
}

button:active {
	background-color: #FFFFFF;
	color: #A52A2A;
}

.item {
	width: 20%;
	height: auto;
	margin: auto;
}

.contaner {
	width: 80%;
	margin: auto;
	background-color: beige;
	color: brown;
}

#deploy {
	margin-top: 50px;
	margin-bottom: 100px;
}

#deploy h1 {
	color: darkblue;
	margin-left: 15px;
}


#download {
}

#download h1 {
	color: darkblue;
	margin-left: 15px;
}

.list {
	list-style-image: url(../img/step.png);
}

#project {
	float: left;
	width: 50%;
}

#service {
	float: right;
	width: 50%;
}

#env {
	float: left;
	width: 50%;
}

#releaseVersion {
	float: right;
	width: 50%;
}

.echo {
	color: dodgerblue;
}