<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	<link href ="#" rel="shortcut icon">
	<style type="text/css">

	</style>
	<body>
		<div class="header">
			<h1>Connectivity Auto CICD</h1>
		</div>
		<div class="contaner1">
			<div id="deploy">
				<h2>部 署</h2>
				<div class="list">
					<ul>
						<li id="project">
							<div >
								<span>项目：</span>
								<select v-model="projectSelected" class="item">
									<option disabled value="">请选择</option>
									<option v-for="option in projects">
										{{ option }}
									</option>
								</select>
								<span>
									>>> <span class="echo">{{ projectSelected }}</span>
								</span>
							</div>
						</li>
						<li id="service">
							<div>
								<span>服务名：</span>
								<select v-model="serviceSelected" class="item">
									<option disabled value="">请选择</option>
									<option v-for="option in services" v-bind:value ="option">
										{{ option }}
									</option>
								</select>
								<span>
									>>> <span class="echo">{{ serviceSelected }}</span>
								</span>
							</div>
						</li>
						<li id="env">
							<div>
								<span>环境：</span>
								<select v-model="envSelected" class="item">
									<option disabled value="">请选择</option>
									<option v-for="option in envs">
										{{ option }}
									</option>
								</select>
								<span>
									>>> <span class="echo">{{ envSelected }}</span>
								</span>
							</div>
						</li>
						<li id="releaseVersion">
							<div>
								<span>发版号：</span>
								<select v-model="release" class="item">
									<option disabled value="">请选择</option>
									<option v-for="option in releases" v-bind:value ="option">
										{{ option }}
									</option>
								  </select>
								  <span>
									  >>> <span class="echo">{{ release }}</span>
								  </span>
							</div>
						</li>
						<li id="branch">
							<div>
								<span>分支：</span>
								<input v-model="branchName" placeholder="branch" class="item" />
								<span>
									>>><span class="echo">{{ branchName }}</span>
								</span>
							</div>
						</li>
						<li id="applicant">
							<div >
								<span>申请人：</span>
								<input  v-model="applicant" placeholder="User ID" class="item"/>
								<span>
									>>><span class="echo">{{ applicant }}</span>
								</span>
							</div>
						</li>
						<li id="reason">
							<div>
								<span>原因：</span>
								<input v-model="reason" placeholder="jiraId and description" style="width: 30%;"></input>
								<span>
									>>><span class="echo">{{ reason }}</span>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<button type="button" @click="deployNow()" style="float: left;width: 45%;">
					立刻部署
				</button>
				<button type="button" @click="deployInFuture()" style="float: right;width: 45%">
					预约部署
				</button>
			</div>
		</div>
		<div class="contaner2">
			<div id="download">
				<h2>下 载 Release Note</h2>
				<div class="list">
					<ul>
						<li id="reason">
							<div id="start">
								<span>开始时间：</span>
								<input  v-model="start" placeholder="2021-03-01" class="item"/>
								<span>
									>>><span class="echo">{{ start }}</span>
								</span>
							</div>
						</li>
						<li>
							<div id="end">
								<span>结束时间：</span>
								<input  v-model="end" placeholder="2021-04-01" class="item"/>
								<span>
									>>><span class="echo">{{ end }}</span>
								</span>
							</div>
						</li>
					</ul>
				</div>
				<button type="button" @click="download()" style="width: 5%;">
					下载
				</button>
			</div>
		</div>
		<script type="text/javascript">
		 	let deploy = new Vue({
				el: '#deploy',
				mounted:function(){
					this.initDeployData();
				},
				methods: {
					deployNow: function(e){
						console.log("触发立刻部署:"+this.deployUrl);
						// alert("触发立刻部署:"+this.deployUrl);
						var httpRequest = new XMLHttpRequest();//第一步：创建需要的对象
						httpRequest.open('POST', this.deployUrl, true); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
						httpRequest.setRequestHeader("Content-type","application/json");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）var obj = { name: 'zhansgan', age: 18 };
						var obj = {
							'projectName':this.projectSelected,
							'serviceName':this.serviceSelected,
							'environment':this.envSelected,
							'branch':this.branchName,
							'releaseVersion':this.release,
							'applicant':this.applicant,
							'reason':this.reason,
						};
						httpRequest.send(JSON.stringify(obj));//发送请求 将json写入send中
						/**
						 * 获取数据后的处理程序
						 */
						httpRequest.onreadystatechange = function (e) {//请求后的回调接口，可将请求成功后要执行的程序写在其中
							if (httpRequest.readyState === 4 && httpRequest.status === 200) {
								var json = JSON.parse(httpRequest.responseText);//获取到服务端返回的数据
								console.log(json);
								console.log(json.msgCode);
								if (json.msgCode != '10000'){
									var msgs = json.msg.split(";");
									console.log(msgs);
									var error = '';
									if (msgs.length > 1) {
										for (i = 0; i<msgs.length-1; i++){
											error += i+1+'. '+msgs[i]+'\n';
										}
									} else {
										error = json.msg;
									}
									console.log(error);
									alert('立刻部署触发失败，原因：\n' + error)
								} else {
									alert('立刻部署触发成功，部署结果会通过钉钉群通知')
								}
							}						
						};
					},
					deployInFuture: function(e) {
						alert('功能待开发')
					},
					initDeployData: function(e){
						var _this = this;
						var httpRequest = new XMLHttpRequest;
						httpRequest.open('GET', _this.initDataUrl, true);
						httpRequest.setRequestHeader("Content-type","application/json");//设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）var obj = { name: 'zhansgan', age: 18 };
						httpRequest.send();
						httpRequest.onreadystatechange = function (e) {
							//请求后的回调接口，可将请求成功后要执行的程序写在其中
							console.log(httpRequest.status);
							//获取到服务端返回的数据
							var jsonString = httpRequest.responseText;
							console.log(jsonString);
							if (httpRequest.readyState === 4 && httpRequest.status === 200) {
								var json = JSON.parse(jsonString);
								console.log(json);
								if (json.msgCode !== '10000'){
									console.log('异常处理');
								} else {
									_this.projects = json.content.projects;
									console.log(_this.projects)
									_this.services = json.content.services;
									_this.envs = json.content.environments;
								}
							}
							
						};
					},
				},
				data: {
					deployUrl: 'http://192.168.30.62:10099/jenkins/build',
					initDataUrl: 'http://192.168.30.62:10099/management/projectData',
					projectSelected: '',
					projects: [],
					serviceSelected: '',
					services: [],
					envSelected: '',
					envs: [],
					branchName:'',
					release: '',
					releases: [
						'0.31.0',
						'0.32.0',
						'0.33.0',
						'0.34.0',
						'0.35.0',
					],
					applicant: '',
					reason: '',
				}
			});
			let download = new Vue({
				el:'#download',
				methods: {
					download:function(){
						var tmp = this.downloadUrl+'?startDate='+this.start+' 00:00:00&endDate='+this.end+' 00:00:00';
						console.log(tmp)
						window.open(tmp)
					}
				},
				data: {
					downloadUrl:'http://192.168.30.62:10099/management/download',
					start: '',
					end:'',
				},
			});
		</script>
	</body>
</html>
